.comunication {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  height: 78px; 
  margin: 0;
  &__social {
    width: 50%; 
  display: flex;  
  align-items: center; 
  }
  &__subscribe {
    width: 50%; 
    display: flex;
    align-items: center;
  }
}

.social { 
  &__title {
    font-family: Ubuntu;
    color: $colorbrown;
    font-size: 14px;
    font-weight: 400;
    margin-right: 30px;
  }
  &__img {
    height: 25px;
    margin-right: 20px;
  }
}

.form {
  &__field {
    width: 355px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #eae9e8;
    font-family: Ubuntu;
    font-size: 14px;
    padding-left: 27px;
    letter-spacing: 1px;
    outline: none;
  }
  &__submit {
    cursor: pointer;
    box-sizing: border-box;
    height: 40px;
    width: 100px;
    background-color: $colorblue;
    color: #fff;
    font-family: Ubuntu;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: none;
    letter-spacing: 2px;
  }
}